<section class="header">
  <div class="container">
    <img src="../../assets/images/triptok.png" alt="triptok">
    <button type="button" class="login-btn">Login</button>
  </div>
  <h2>Venso Hotel</h2>
  <p>Join us for a never ending adventure</p>
  <div class="input-group">
    <input type="text" name="" id="" class="form-control" placeholder="Search travel locations of Sri Lanka">
    <div class="input-group-append">
      <button type="submit" class="input-group-text btn">Search</button>
    </div>
  </div>
</section>
<section class="features">
  <h1>Featured Destinations</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box">
          <div class="feature-img">
            <img src="../../assets/images/hikkaduwa2.webp" alt="hikkaduwa2">
            <div class="price">
              <p>78$</p>
            </div>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
          </div>
          <div class="feature-details">
            <h4>Hikkaduwa</h4>
            <p>Hikkaduwa is a seaside resort town in southwestern Sri Lanka. It’s known for its strong
              surf and beaches, including palm-dotted Hikkaduwa Beach, lined with restaurants and
              bars. The shallow waters opposite Hikkaduwa Beach shelter the Hikkaduwa National Park,
              which is a coral sanctuary and home to marine turtles and exotic fish.</p>
            <div>
              <span><i class="fa fa-map-marker"></i>Hikkaduwa</span>
              <span><i class="fa fa-sun-o"></i>4 Days</span>
              <span><i class="fa fa-moon-o"></i>3 Nights</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <div class="feature-img">
            <img src="../../assets/images/nilaveli.jfif" alt="nilaveli">
            <div class="price">
              <p>86$</p>
            </div>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
          <div class="feature-details">
            <h4>Nilaveli</h4>
            <p>Nilaveli is a coastal resort town and suburb of the Trincomalee District, Sri Lanka
              located 16 km northwest of the city of Trincomalee.Great savings on hotels in Nilaveli,
              Sri Lanka online. Good availability and great rates. Read hotel reviews and choose the
              best hotel deal for your stay. There are a ton of awesome things to do in Nilaveli!</p>
            <div>
              <span><i class="fa fa-map-marker"></i>Nilaveli</span>
              <span><i class="fa fa-sun-o"></i>3 Days</span>
              <span><i class="fa fa-moon-o"></i>2 Nights</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <div class="feature-img">
            <img src="../../assets/images/arugambay2.jpg" alt="arugambay2">
            <div class="price">
              <p>97$</p>
            </div>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
          </div>
          <div class="feature-details">
            <h4>Arugam Bay</h4>
            <p>Arugam Bay, known locally as "Arugam Kudah", is situated on the Indian Ocean in the dry
              zone of Sri Lanka's southeast coast, and a historic settlement of the ancient Batticaloa
              Territory. Offering a barbecue and a coffee shop, The Long Hostel is situated in Arugam
              Bay in the Ampara District Region. The Long Hostel is 100 yards away from the center of
              Arugam Bay. </p>
            <div>
              <span><i class="fa fa-map-marker"></i>Arugam Bay</span>
              <span><i class="fa fa-sun-o"></i>5 Days</span>
              <span><i class="fa fa-moon-o"></i>4 Nights</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery">
  <h1>Travelling Gallery</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="gallery-box">
          <img src="../../assets/images/travel-5.jpg" alt="travel5">
          <h4>Ella Rock</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="gallery-box">
          <img src="../../assets/images/travel-6.jpg" alt="travel6">
          <h4>Polonnaruwa</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="gallery-box">
          <img src="../../assets/images/travel-9.jpg" alt="travel9">
          <h4>Kandy</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="gallery-box">
          <img src="../../assets/images/travel-8.jpg" alt="travel8">
          <h4>Anuradhapura</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="banner">
  <div class="banner-highlights">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Get 30% on top destinations</h2>
          <p>Book your tickets here and get a 30% discount.</p>
        </div>
        <div class="col-md-4">
          <button type="button" class="booking-btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-feedback">
  <h1>Users Review</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="user-review">
          <p>Good value package but quite excruciating to book. Had to keep going backwards and forwards
            selecting different dates and rooms to see which were included in the "bula bubble" package
            as this wasn't immediately discernible. Flights sometimes included and other times not.</p>
          <h5>Sheridan Finlay</h5>
          <small>German</small>
        </div>
        <img src="../../assets/images/user1.jpg" alt="user1">
      </div>
      <div class="col-md-4">
        <div class="user-review">
          <p>Deals always tend to be hard to beat on travel online. We've booked with them for years for
            this reason. On this occasion, it took a long while (many days) on a few occasions for
            travel online to return phone calls, we had to chase them up, and some minor details were
            incorrect on itineraries received.</p>
          <h5>Darren Paterson</h5>
          <small>New Zealand</small>
        </div>
        <img src="../../assets/images/user2.jpg" alt="user2">
      </div>
      <div class="col-md-4">
        <div class="user-review">
          <p>Excellent! Very good service from beginning to end. Even with a COVID-related delay in the
            middle of it, Lisa stayed in contact with us and got us a reschedule with the utmost of
            ease. Thank you!</p>
          <h5>Keely Carter</h5>
          <small>Qatar</small>
        </div>
        <img src="../../assets/images/user3.jpg" alt="user3">
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/images/triptok.png" class="footer-logo" alt="triptok">
        <p>We are travel commiunity in Sri Lanka. Join with us on our adventure.</p>
      </div>
      <div class="col-md-3">
        <h4>Features</h4>
        <p>Deals & Offers</p>
        <p>Customer Reviews</p>
        <p>Cancelation Policy</p>
      </div>
      <div class="col-md-3">
        <h4>Quick Contact</h4>
        <p><i class="fa fa-phone-square"></i> +94 91 427 5816</p>
        <p><i class="fa fa-envelope"></i> lukytravel@gmail.com</p>
        <p><i class="fa fa-home"></i> Ambalangoda road, Elpitiya</p>
      </div>
      <div class="col-md-3">
        <h4>Follow Us On</h4>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-youtube-play"></i> Youtube</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
      </div>
    </div>
    <hr>
    <p class="copyright"><i class="fa fa-copyright"></i> All Rights Reserved by LukyLankaTravel</p>
  </div>
</section>
